/*To make the error as red color*/
.error {
    color:crimson;
}

*{
    margin: 0;
    padding: 0;
}

h3
{
    width: 200px;
}
body{
    
    width: 50%;
    height:auto;
   /* background-image: url(../images/background.jpg);*/
    background-size: cover;
    
    margin:15px auto;
    border: 1px solid black;
    text-align: left;
}

.body{
    margin: 0 auto;
    width: 40%;
 /* color: aliceblue;*/
    height:auto;
    clear: both;
}

.titleheader{
    align-content: center;
    padding: 2%;
    text-align: center;
    
    
}

.rightside{
   width: 40%;
    float:left;
    padding:0% 5%;
     
}

.leftside{
    /*width: 40%;*/
    float:right;
   /* padding:0% 5%;*/
    
}

@media only screen and (mibn-width) and (max-width:600px){
  .body{
      width:90%;
     
  }
}
.foot{
    width: 50%;
    clear: both;
    padding-left: 50%;
    padding-bottom: .5%;
  

}


}