//To make the error as red color
.error {
    color: #FF0000;
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 60%;
    height:auto;
    background-color: antiquewhite;
    margin:15px auto;
    border: 1px solid black;
    
}
header{
    text-align:center;
    padding:5px;
}

/*section{
    width:50%;
    height:auto;
    float: left;
}

aside{
    width: 50%;
    height: auto;
    float: left;
}

footer{
    clear:both;
}*/

.order{
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: auto;
   /* border: 1px solid black;*/
}