4.glyphicon.glyphicon-copyright-mark{
  font-size: 20px;
}

#copyright{
  padding-top: 15px;

}

* {
  font-family: 'Open Sans', Arial, sans-serif; }

.label1{
  width:70px;
  color:white;
  background-color:#4CAF50 !important;
  border-radius: 25px;
}
.label0{
  width:70px;
  color:white;
  background-color: #D9534F !important;;
  border-radius: 25px;
}

#lab1{
  width:50px;
  color:white;
  background-color:#4CAF50 !important;
  border-radius: 25px;
}

#lab0{
  width:50px;
  color:white;
  background-color: #D9534F !important;;
  border-radius: 25px;
}




:root .alert-message {
  border-radius: 0 \0;
}
.blue-bb {
  color: #007BC0; }

.green-bb {
  color: #4CAF50; }

.yellow-bb {
  color: #EBC50D; }

.red-bb {
  color: #EA4335; }

.alert-danger {
  color: #D9534F !important; }

.red {
  color: #FF0000; }

.green {
  color: #548235; }

.blue-bg {
  background-color: #007BC0 !important;
  color: #FFF !important; }

.green-bg {
  background-color: #4CAF50 !important;
  color: #FFF !important; }

.yellow-bg {
  background-color: #EBC50D !important;
  color: #444 !important; }

.red-bg {
  background-color: #EA4335 !important;
  color: #FFF !important; }

.highlight-bg-r {
  background-color: #F2DEDE !important; }

.highlight-bg-b {
  background-color: #D9EDF7 !important; }

.regular {
  font-weight: normal; }

.bold {
  font-weight: 700; }

.bolder {
  font-weight: 800; }

.lead {
  font-weight: 800;
  color: #555; }

.text-medium {
  color: #555 !important;
}

#deleteUserBtn{
    padding-left: 30px;
}

#trashIcon:hover{
  transform: scale(1.5, 1.5);

}

#editUserBtn{
    padding-left: 40px;
}

#editIcon:hover{
  transform: scale(1.5, 1.5);
}

#trashAdminIcon:hover{
  transform: scale(1.5, 1.5);
}

#editAdminIcon:hover{
  transform: scale(1.25, 1.25);
}

#editAdminBtn{
  padding-left:15px;
}

#addAdminBtn{
  padding-left:15px;
}

#nameList{
  color: #007BC0;
  font-weight: 700;
}

.text-muted {
  color: #777 !important; }

.text-soft {
  color: #DDD !important; }

.text-justify {
  text-align: justify; }

p, b, text, label {
  font-size: 16px; }

label {
  color: #555; }

.font-bb {
  font-size: 14px; }

.big-font-bb {
  font-size: 16px; }

.bigger-font-bb {
  font-size: 18px; }

@media (max-width: 768px) {
  label {
    font-size: 14px; }

  .bigger-font-bb {
    font-size: 16px; }

  .big-font-bb {
    font-size: 14px; }

  .font-bb {
    font-size: 14px; } }
.big-font-bb i {
  font-size: 20px;
  margin-right: 8px; }

h1, h2, h3, h4 {
  margin-top: 0px !important;
  font-weight: 800; }

img {
  -ms-interpolation-mode: bicubic; }

a:hover, a:visited, a:focus {
  text-decoration: none; }

  /* Vertical Alignment */
  .vcenter {vertical-align: middle !important;}
  .vbottom {vertical-align: text-bottom !important;}

.no-wrap {
  white-space: nowrap; }


/* Misc */
.page-header-bb {
  padding-bottom: 10px;
  margin-top: 15px;
  border-bottom: 1px solid #EEE;
  color: #555 !important; }

.page-header-bb i {
  font-size: 36px;
  margin-right: 10px; }

.wedge-bb {
  height: 10px; }

.hr {
  border-bottom: 1px solid #EEE; }

/* ------------------------------ */
/* --- Document & Positioning --- */
/* ------------------------------ */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px; }

#wrapper {
  min-height: 100%;
  position: relative; }

#content {
  padding-bottom: 65px; }

.heading {
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  font-weight: 300;
  font-size: 24px; }

@media (min-width: 768px) {
  .heading {
    color: #FFF;
    text-shadow: 0 1px 2px #000;
    font-weight: 300;
    font-size: 35px; } }
.landing {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  top: 0;
  z-index: -1000; }

/* Welcome Header */
.welcome img {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.welcome i {
  margin-right: 10px; }

.welcome button {
  min-width: 250px !important; }

.img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

/* Row Gutter (Removal) */
.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/* Block */
.block {
  display: block; }

/* Inline */
.inline {
  display: inline-block; }

/* Generic */
.page-bb {
  min-width: 320px; }

/* Disable User Select */
.no-select, .nav, .navbar {
  -webkit-user-select: none;
  /* Chrome / Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely Future... */ }

/* Cursor Pointer */
.nav, .pagination, .panel-title a, a {
  cursor: pointer; }

/* Default Pointer */
.arrow {
  cursor: default; }

/* Rails */
.rm-margins {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.add-margins {
  margin-left: 15px !important;
  margin-right: 15px !important; }

.rm-padding {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.add-padding {
  padding-left: 15px !important;
  padding-right: 15px !important; }

/* Spacers */
.spacer-l {
  margin-left: 10px; }

.spacer-r {
  margin-right: 10px; }

.spacer-b {
  margin-bottom: 20px; }

.spacer-t {
  margin-top: 20px; }

.spacer-b-sm {
  margin-bottom: 8px; }

.spacer-t-sm {
  margin-top: 8px; }

.spacer-b-m {
  margin-bottom: 32px; }

.spacer-t-m {
  margin-top: 32px; }

.spacer-b-lg {
  margin-bottom: 48px; }

.spacer-t-lg {
  margin-top: 48px; }

.spacer-b-xl {
  margin-bottom: 150px; }

.spacer-t-xl {
  margin-top: 150px; }

/* Buffer */
.buffer-l {
  padding-left: 15px; }

.buffer-r {
  padding-right: 15px; }

.buffer-b {
  padding-bottom: 15px; }

.buffer-t {
  padding-top: 15px; }

.banner {
  display: block;
  background-image: linear-gradient(to bottom, #FCCF00 0, #EBC50D 100%);
  background-repeat: repeat-x; }

blockquote {
  border-left: 5px solid #333 !important; }

/* ------------------- */
/* --- Tab Styling --- */
/* ------------------- */
/* Tab Headers */
.tab-header {
  font-size: 21px;
  font-weight: 800; }

/* Tab Content */
.tab-content {
  margin-top: 20px; }

/* --------------------- */
/* ------ Panels ------- */
/* --------------------- */
/* Asset Detail Grid */
.panel-grid {
  padding: 5px 10px; }

.panel-limit {
  max-width: 175px; }

.panel-group {
  margin-bottom: 0px !important; }

.entTitle {
  text-align: right; }
  @media (max-width: 768px) {
    .entTitle {
      text-align: left; } }

.container-gr {
  border-radius: 4px;
  background-color: #F5F5F5;
  border: 1px solid #BBBABA;
  color: #333;
  padding: 10px 15px;
  box-shadow: 3px 3px 3px #888888;
  margin-top: 20px;
  margin-bottom: 20px; }

/* -------------- */
/* --- Modals --- */
/* -------------- */
#myModal .modal-dialog{
  width:60%;
}

td{
  cursor:pointer;
}


.modal-title {
  color: #FFF; }
  @media (max-width: 768px) {
    .modal-title {
      font-size: 1.5em; } }

.modal-header {
  background: #337AB7; }

.modal-header .close {
  margin-top: -5px !important; }

.close {
  color: #FFF !important;
  text-shadow: 0 3px 0 #333 !important;
  opacity: 1.0 !important; }
  .close:focus, .close:hover {
    color: #C0D4DE !important; }

.wf-style, .wf-ticket, .wf-completed {
  text-align: center;
  font-weight: 800;
  text-align: center !important; }

.wf-ticket {
  font-size: 1.5em; }
  @media (max-width: 768px) {
    .wf-ticket {
      font-size: 1.3em !important; } }

.wf-completed {
  font-size: 2em; }
  @media (max-width: 768px) {
    .wf-completed {
      font-size: 1.5em !important; } }

@media (max-width: 768px) {
  .modal-body {
    padding: 5px; }

 .modal-details {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px; } }
 Modal Container
.modal-dialog {
  min-width: 300px !important; }

/* Modal Tab Content */
.modal-body {
  max-height: auto;
  overflow-y: auto;
  overflow-x: hidden; }

.btn-modal {
  padding: 10px 0px 0px 10px; }

.btn-modal button {
  font-size: 16px; }

.btn-modal button i {
  font-size: 24px;
  vertical-align: text-bottom; }*/

/* ------------- */
/* --- Forms --- */
/* ------------- */
/* Unique Inputs */
#searchBtn {
  width: 100%;
  height: 60px; }

#searchBox {
  height: 60px;
  font-size: 1.5em; }

#userSearch {
  height: 50px; }

#searchStatus {
  vertical-align: middle;
  width: 30px; }

#searchStatus i {
  font-size: 30px; }

#searchContainer {
  padding-top: 5px;
  /*margin-left: 10px;*/ }

#scanItem {
  /* Bulk Tool */
  height: 60px;
  font-size: 2em;
  text-transform: uppercase; }

select {
  height: 50px !important; }

/* Input Placeholder Override */
::-webkit-input-placeholder {
  color: #ccc !important; }

/* Chrome / Safari */
:-moz-placeholder {
  color: #ccc !important; }

/* Firefox */
:-ms-input-placeholder {
  color: #ccc !important; }

/* Internet Explorer 10+ */
.date-picker button {
  min-width: 0 !important; }
  .date-picker button i {
    margin-right: 0 !important; }

/* Progress Bars */
.progress {
  height: 2.5em; }

.progress-bar {
  padding-top: 7px; }

.progress-bar {
  font-size: 18px;
  font-weight: 700; }

.checkbox-bb input[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer; }

.checkbox-bb label {
  vertical-align: middle; }

.required:before {
  content: ' * ';
  color: #EA4335;
  font-weight: 800;
  font-size: 16px;
  float: left;
  margin-right: 3px; }

/* --------------- */
/* --- Buttons --- */
/* --------------- */
button i {
  font-weight: normal !important;
  margin-right: 10px; }

.btn {
  font-weight: 800;
  min-width: 185px; }

.btn-grey {
  border-color: #ccc; }

.btn-full {
  width: 100% !important;
  /*min-width: 0px !important;*/ }

.btn-success {
  background-color: #4CAF50 !important; }

.btn-success:hover {
  background-color: #49964C !important; }

.btn-danger {
  background-color: #EA4335 !important; }

.btn-danger:hover {
  background-color: #A7312D !important; }

.btn-warning {
  background-color: #EBC50D !important;
  color: #333 !important;
  border-color: #BB9E10 !important; }

.btn-warning:hover {
  background-color: #D9B60C !important; }

/* Remove Focus Outline */
.btn, .close, :focus {
  outline: none !important; }

.btn-ack {
  background-color: #007BC0;
  width: 185px;
  padding: 10px;
  color: #FFF;
  font-weight: 800;
  border-radius: 4px;
  text-align: center; }

  .glyphicon.glyphicon-copyright-mark{
    font-size: 16px;
  }

  .navbar-text{
    font-size: 16px;
  }
.navbar-header-text{
  font-size:21px;
  font-weight: 800;
  color: #007BC0;
  top: 13px;
  position: relative;;
}

#displayName{
  position: relative;
  left: 55%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #007BC0;
}

#userName{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #007BC0;
}
/* -------------- */
/* --- Navbar --- */
/* -------------- */
.navbar-default {
  /*background-color: #007BC0 !important;*/
}
.footer-default {
  background-color: #007BC0 !important;
}
.navbar-default .navbar-nav > li:focus,
.navbar-default .navbar-nav > li:hover {
  color: #FFF !important; }
  .navbar-default .navbar-nav > li:focus > a,
  .navbar-default .navbar-nav > li:hover > a {
    background-color: #007BC0 !important;
    color: #FFF !important; }

.navbar-brand-bb {
  font-weight: 800;
  color: #FFF; }

.navbar-brand-bb img {
  vertical-align: middle;
  display: inline;
  height: 25px; }

.navbar-brand-bb text {
  vertical-align: middle; }

.dropdown-menu li {
  padding: 3px !important; }

.dropdown-menu li a {
  padding: 3px 10px   !important;
  min-height: 15px; }

.dropdown:hover {
  /*background-color: #E7E7E7;*/ }

.nav-item-bb {
  color: #555 !important; }

.nav-item-bb:hover {
  background-color: #E7E7E7 !important; }

.nav-item-holder:hover {
  background-color: #E7E7E7 !important; }

/* Hover Menus (Full Screen) */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block !important; } }
.no-animate {
  -webkit-transition: none !important;
  transition: none !important; }


/* ---------------- */
/* --- Callouts --- */
/* ---------------- */
.bs-callout {
  padding: 20px;
  margin: 5px 5px 20px 5px;
  border: 1px solid #DDD;
  border-left-width: 5px;
  border-radius: 3px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 10px; }

.bs-callout h3 {
  margin-top: 0;
  margin-bottom: 10px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #337AB7; }

.bs-callout-primary h4 {
  color: #337AB7; }

.bs-callout-success {
  border-left-color: #5CB85C; }

.bs-callout-success h4 {
  color: #5CB85C; }

.bs-callout-danger {
  border-left-color: #D9534F; }

.bs-callout-danger h4 {
  color: #D9534F; }

.bs-callout-warning {
  border-left-color: #F0AD4E; }

.bs-callout-warning h4 {
  color: #F0AD4E; }

.bs-callout-info {
  border-left-color: #5BC0DE; }

.bs-callout-info h4 {
  color: #5BC0DE; }

.glyphicon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-chevron-left:before {
  content: "\f053"; }

.glyphicon-chevron-right:before {
  content: "\f054"; }

.glyphicon-chevron-up:before {
  content: "\f077"; }

.glyphicon-chevron-down:before {
  content: "\f078"; }

table {
  width: 100% !important;
}
table.tr{
    width: 100% !important;
}

/* Data Tables */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background : none;
}

.dataTables_filter input {
  height:40px !important;
  padding-left:10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.dataTables_length select {
  width: 75px;
  height:40px !important;
  padding-left:10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*home page button*/
#btnhome{
  color: #777;
  background-color: Transparent;
  border: none;
}


.test {
  border: solid 1px #333;
  background-color: yellow;
}
.alert {
  padding:10px !important;
}
.menu-blob {
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 10px;
}

.menu-blob:hover {
  background-color: #EBC50D;
  /*background-color: #4AB3AF;*/
  box-shadow: 3px 3px 3px #888888;
}

/* Tabs */
.tab-header {
  font-size: 20px;
  font-weight: 800;
}
.hr {border-bottom: 1px solid #EEE;}

/*my adding for this project*/
/*This is to set the dimensions for the well for register form*/
#registerWell{
  width:500px;
  height:800px;
  padding:30px 50px;
}
/*end*/

/*This is to set the dimension for the well for login form*/
#loginWell{
  width:500px;
  height:340px;
  padding:30px 50px;
}
/*end*/

/*This is to set the background color for the well in unauthorised user page*/
#unauthorisedWell{
  background-color:#f4cecd;
}
/*end*/

/*This is to add padding for the login form*/
#loginForm{
   padding-top: 50px;
 }
 /*end*/

 /*This is to add the padding for the main view*/
 #mainView{
   margin-top:100px ;
   padding-bottom:50px ;
 }
 /*end*/

/*This is for showing the user symbol in username  text field*/
#usernameLogin{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#usernameLogin input { text-indent: 20px;}
#usernameLogin #usernameLabel {
  position: absolute;
  top: 37px;
  left: 10px;
}
/*end*/

/*This is to show the password symbol in the password text field*/
#passwordLogin{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#passwordLogin input { text-indent: 20px;}
#passwordLogin #passwordLabel {
  position: absolute;
  top: 37px;
  left: 10px;
}

#passwordLogin #eyeLabel {
  position: absolute;
  top: 37px;
  left: 400px;
}
/*end*/

/*This is to show the user symbol in the full name text field*/
#regNameGroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regNameGroup input { text-indent: 20px;}
#regNameGroup #regname {
  position: absolute;
  top: 37px;
  left: 10px;
}
/*end*/

/*This is to show the user symbol in the username text field*/
#regusernamegroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regusernamegroup input { text-indent: 20px;}
#regusernamegroup #regusername {
  position: absolute;
  top: 37px;
  left: 10px;
}
/*end*/

/*This is to show the user symbol in the email text field*/
#regemailgroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regemailgroup input { text-indent: 20px;}
#regemailgroup #regemail {
  position: absolute;
  top: 37px;
  left: 10px;
}
/*end*/

/*This is to show the user symbol in the password text field*/
#regpasswordgroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regpasswordgroup input { text-indent: 20px;}
#regpasswordgroup #regpassword {
  position: absolute;
  top: 37px;
  left: 10px;
}

#regpasswordgroup #regeye {
  position: absolute;
  top: 37px;
  left: 400px;
}
/*end*/

/*This is to show the user symbol in the home text field*/
#reghomegroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#reghomegroup input { text-indent: 20px;}
#reghomegroup #reghome {
  position: absolute;
  top: 35px;
  left: 25px;
}
/*end*/

/*This is to show the user symbol in the street text field*/
#regstreetgroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regstreetgroup input { text-indent: 20px;}
#regstreetgroup #regroad {
  position: absolute;
  top: 35px;
  left: 138px;
}
/*end*/

/*This is to show the user symbol in the city text field*/
#regcitygroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regcitygroup input { text-indent: 20px;}
#regcitygroup #regcity {
  position: absolute;
  top: 35px;
  left: 10px;
}
/*end*/

/*This is to show the user symbol in the phone text field*/
#regphonegroup{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regphonegroup input { text-indent: 20px;}
#regphonegroup #regphone {
  position: absolute;
  top: 35px;
  left: 25px;
}
/*end*/


/*This is to show the user symbol in the postal code text field*/
#regmap{
  position: relative;
  color: #aaa;
  font-size: 16px;
}

#regmap input { text-indent: 20px;}
#regmap #regmaplabel {
  position: absolute;
  top: 35px;
  left: 25px;
}
/*end*/

/*This is to set the width of alert message for the successful registration of the user*/
#loginAlert{
  width:700px;
}

/*This is to set the width of alert message for the successful Unregistration of the user*/
#unregisterAlert{
  width:700px;
}

/*This is for adjusting the alignment and font for the contents in the view of the personal details in the  user profile*/
.showPersonalDetailsValue{
  height: 46px;
    padding-top: 10px;
    text-align: right;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

/*This is for adjusting the alignment for the contents in the view of the personal details in the  user profile*/
.col-md-4.labelPersonalDetails{
    text-align:right !important;
}

/*This is for adjusting the alignment for the contents in the view of the personal details in the  user profile*/
.showPersonalDetails{
  text-align:left;
}


/*end*/

/* EOF */
