//To make the error as red color
.error {
    color: #FF0000;
}

*{
    margin: 0;
    padding: 0;
}
body{
    
    width: 50%;
    height:auto;
    background-image: url(images/background.jpg);
    background-size: cover;
    
    margin:15px auto;
    border: 1px solid black;
    text-align: left;
}

.body{
    margin: 0 auto;
    width: 40%;
  color: aliceblue;
    height:auto;
    clear: both;
}

.titleheader{
    align-content: center;
    padding: 2%;
    text-align: center;
    
    
}

.rightside{
    width: 40%;
    float:left;
    padding:0% 5%;
     
}

.ass{
    width: 40%;
    float:right;
    padding:0% 5%;
    
}

@media only screen and (mibn-width) and (max-width:600px){
  .body{
      width:90%;
     
  }
}
.foot{
    width: 50%;
    clear: both;
    padding-left: 50%;
    padding-bottom: .5%;
  

}

/*section{
    width:50%;
    height:auto;
    float: left;
}

aside{
    width: 50%;
    height: auto;
    float: left;
}

footer{
    clear:both;
}*/

/*.order{
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: auto;
   /* border: 1px solid black;*/
}